.dart_tool/
build/

pubspec.lock

doc/api/

.env*

*.dart.js
*.info.json
*.js

*.js_
*.js.deps
*.js.map

.flutter-plugins
.flutter-plugins-dependencies

*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

*.iml
*.ipr
*.iws
.idea/

/android/app/debug
/android/app/profile
/android/app/release
.packages
.pub-cache/
.pub/
